*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# iOS / Xcode
ios/build/
ios/DerivedData/
ios/*.xcodeproj/
ios/*.xcworkspace/
**/xcuserdata/
**/*.xcuserstate
ios/Pods/


ann.json
jobs.json
logs.txt
response.json
